<app-fighters-headline
  class="
    fighters-headline
    d-flex
    justify-content-center
    align-items-center
    tk-nimbus-sans-condensed
  "
></app-fighters-headline>

<app-location-slogan
  class="
    location-slogan
    d-flex
    align-items-center
    justify-content-center
    tk-nimbus-sans-extended
  "
></app-location-slogan>

<app-category class="tk-nimbus-sans-extended text-center"></app-category>

<app-date-location
  class="date-location-details text-center tk-nimbus-sans-extended"
></app-date-location>
